<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="HelloFresh-Api-Tests" verbose="1" >
  <test name="CountryTest">
    <classes>
       <class name="com.hellofresh.api.RegressionSuite.CountryTests" >
       <methods>
        <include name="getAllCountriesTest" />
        <include name="getIndividualCountries" />
        <include name="getInvalidCountries" />
        <include name="addNewCountry" />
               
      </methods>
      </class>
    </classes>
  </test>
 
  
</suite>
